<!DOCTYPE html>
{% extends "project_application/base.html" %}
{% block body_block %}
<!-- Insert here -->
<div class="full-height" style="margin: 20vh 0px;">
  <div class="container">
    <div class="row" style="margin-bottom: 5vh;">
      <div class="col-md-2">

      </div>
      <div class="pad col-md-8">
        <div class="goal">
          <h1 style="font-size: 32px; font-weight: 400;">Cel</h1>
        </div>
        <p class="about">Stworzyć miejsce, w którym w czasie kryzysu można wspierać w swoje ulubione miejsca.</p>
      </div>
      <div class="col-md-2">

      </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="pad col-md-8">
        <div class="about-text">
          <h1 style="font-size: 32px; font-weight: 400;">O projekcie</h1>
        </div>
        <p class="about">Lokalne firmy są teraz wrażliwe w sposób, w jaki nie są nimi większe sieci. Aby zachować różnorodność małych firm w Twojej okolicy, w miarę możliwości warto zaopatrzyć się w karty podarunkowe do przyszłych zakupów. Jeśli nie
          możesz, pomyśl
          o napisaniu świetnej recenzji Google lub Yelp. <span>Kryzysowa kawa</span> to strona zaprojektowana z myślą o zapewnieniu krótkoterminowej ulgi finansowej lokalnym firmom. Mamy nadzieję, że znajdziesz tutaj swoją ulubioną i pobliską lokalną
          firmę, którą możesz wesprzeć, kupując kartę podarunkową czy "zawieszoną kawę" na ich stronie.</p>
        <p class="about">Nie czerpiemy żadnych korzyści finansowych z tej strony, po prostu chcemy pomóc w tych trudnych czasach. Strona stworzona przez <a href="mailto:kuba.sliz@hotmail.com?subject=Kontakt">Jakuba Śliż</a>. Ilustracje przygotowane
          przez Marte
          Wołek. Specjalne podziękowania dla Oli Wrony oraz Leny Wojciechowicz za wsparcie projektu.</p>
      </div>
      <div class="col-md-2">

      </div>
    </div>
  </div>
</div>
{% endblock %}