<!DOCTYPE html>
{% extends "project_application/base.html" %}
{% block body_block %}
<!-- Insert here -->
<div class="full-height" style="margin: 20vh 0px;">
  <div class="container">
    <div class="row" style="margin-bottom: 5vh;">
      <div class="col-md-2">

      </div>
      <div class="pad col-md-8">
        <div class="goal">
          <h1 style="font-size: 32px; font-weight: 400;">Jaki jest nasz cel?</h1>
        </div>
        <p class="about">Lokalne firmy są teraz mocno zagrożone i walczą o przetrwanie. Abyśmy mieli jako klienci do czego wrócić po kryzysie chcemy pomóc naszym lokalnym przedsiębiorcom przetrwać ten trudny okres. <b> Na naszej stronie znajdziesz
            listę firm, które potrzebują wsparcia w tym szczególnym czasie.</b></p>
      </div>
      <div class="col-md-2">

      </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="pad col-md-8">
        <div class="about-text">
          <h1 style="font-size: 32px; font-weight: 400;">W jaki sposób mogę pomóc firmom z listy?</h1>
        </div>
        <p class="about" style="margin-bottom: 5vh;">Dowiesz się tego klikając w nazwę firmy (zostaniesz przekierowany na odpowiednią stronę). Niektóre miejsca oferują zniżki lub vouchery na przyszłe zakupy, inne prowadzą zbiórki. Jeśli nie możesz
          wesprzeć biznesu finansowo,
          pomyśl o napisaniu świetnej recenzji na Facebooku, Google czy miłej wiadomości do właścicieli.</p>
        <div class="about-text">
          <h1 style="font-size: 32px; font-weight: 400;">Kim jesteśmy?</h1>
        </div>
        <p class="about">Jesteśmy grupą przyjaciół, którzy postanowili zareagować na trudną sytuację, w której znajdują się obecnie polskie marki. Stronę stworzył Jakub Śliż. Ilustracje przygotowała Marta Wołek. O media społecznościowe dba Ola Wrona,
          a o kontakt z firmami Lena Wojciechowicz. Z tytułu prowadzenia naszej strony nie czerpiemy żadnych korzyści finansowych.</p>
      </div>
      <div class="col-md-2">

      </div>
    </div>
  </div>
</div>
{% endblock %}