<!DOCTYPE html>
{% extends "project_application/base.html" %}

{% load crispy_forms_tags %}

{% block body_block %}
<!-- Insert here -->
{% load static %}
<div class="full-height" style="margin: 20vh 0px;">
  <div class="container">
    <div class="row">
      <!-- Start col -->
      <div class="col-md-2">
      </div>
      <div class="pad col-md-6">
        <div class="contact">
          <p>Skontaktuj się z nami w przypadku jakichkolwiek pytań:<br>
            💬 w wiadomości na <a href="https://www.instagram.com/kryzysowa.kawa/">Facebooku</a><br>
            💌 w wiadomości na <a href="https://www.facebook.com/Kryzysowa-kawa-107804037551874/">Instagramie</a> (kryzysowa.kawa) <br>
            📩 pod adresem <a href="mailto:kryzysowa.kawa@gmail.com">email</a>: kryzysowa.kawa@gmail.com <br>
          </p>
          {% if news_form %}
          <div class="newsletter">
            <p>Jeśli chcesz być nabieżąco ze statystykami i naszymi działaniami zasubskrybuj nasz newsletter!</p>
            <form class="form2" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  {{ news_form.email|as_crispy_field}}
                </div>
                <div class="col-md-6">
                  {{ news_form.name|as_crispy_field}}
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <input type="submit" class="btn my-btn" value="Zapisz się">
                </div>
              </div>
            </form>
          </div>
          {% endif %}
        </div>
      </div>
      <!-- End col -->
      <div class="tocenter col-md-2">
        <img class="cup" src="{% static "project_application/images/project_application/kontakt.png" %}" alt="">
      </div>
      <div class="col-md-2">

      </div>
    </div>
  </div>
</div>


{% endblock %}