<!DOCTYPE html>
{% extends "project_application/base.html" %}

{% load crispy_forms_tags %}

{% load static %}
{% block body_block %}
<!-- Insert here -->
<div class="container">
  <div class="row">
    <div class="col-md-12 ">
      <div class="form-title">
        <h3>Dołącz do nas wypełniając formularz!</h3>
      </div>
      <span class="line"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" style="padding-left: 30px; padding-right: 30px;">
      <div class="left-text">
        <p><span>Widoczność:</span> Twoi klienci w łatwy sposób znajdą informację o tym jak mogą pomóc Ci przetrwać kryzys.</p>
        <p><span>Pomoc:</span> Jeśli napiszesz do nas maila z checią pomożemy Ci zorganizować zbiórkę online.</p>
        <p><span>Społeczność:</span> Nasza strona jest udostępniana na Facebooku i Instagramie co otwiera drzwi tysiącom odwiedzajcym.</p>
        <p>Za umieszczenie twojej firmy na naszej stronie nie pobieramy żadnych opłat. Jest to elektroniczna wersja tablicy z ogłoszeniami, która pomoże osobom chcącym wspomóc ulubione miejsca, znaleźć informacje o tym w jaki sposób mogą to zrobić.
        </p>
      </div>
    </div>
    <div class="col-md-6" style="padding-left: 30px; padding-right: 30px;">
      <div class=" call">
        <p>Zgłoś się poniżej żeby inni mogli zobaczyć twój bizens lub napisz do nas na maila: <span><a href="mailto:kryzysowa-kawa@gmail.com?subject=Zgłoszenie">kryzysowa-kawa@gmail.com</a></span></p>
      </div>

      <form class="form" method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="box col-md-6">
            {{ form.name|as_crispy_field}}
          </div>
          <div class="box col-md-6">
            {{ form.city|as_crispy_field}}
          </div>
        </div>
        <div class="row">
          <div class="box col-md-12">
            {{ form.url|as_crispy_field}}
          </div>
        </div>
        <div class="row">
          <div class="box col-md-6" style="white-space:nowrap;">
            {{ form.form|as_crispy_field}}
          </div>
          <div class="box col-md-6">
            {{ form.type|as_crispy_field}}
          </div>
        </div>
        <input type="submit" class="btn my-btn" name="" value="Zgłoś">
      </form>

    </div>
  </div>
  <div class="bg"></div>
</div>
{% endblock %}