<!DOCTYPE html>
{% extends "project_application/base.html" %}

{% load static %}

{% block body_block %}
<!-- Insert here -->
<div class="full-height" style="margin: 5vh 0px;">
  <div class="container">
    <div class="row" style="margin-bottom: 10vh;">
      <div class="col-md-6" style="text-align:center;">
        <img style="height: 79%; width: 70%; max-height: 300px; max-width: 300px; margin-top: 4vh; margin-bottom: 4vh;" src="{% static "project_application/images/project_application/kawiarenka.png" %}" alt="">
      </div>
      <div class="col-md-6">
        <h1 class="imp2-h1">Wesprzyj swoje ulubione miejsca i pomóż im przetrwać pandemię!</h1>
        <p class="addtext" style="text-align: left; line-height: 1.6;">
          Jesteśmy grupą tegorocznych maturzystów, którzy zaniepokojeni sytuacją polskich firm postanowili wziąć sprawy w swoje ręce. Kryzysowa kawa to strona, na której chcemy zgromadzić firmy potrzebujące wsparcia i ludzi, którzy są gotowi im
          pomóc.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        {% if businesses %}
        <table id="dtBasicExample" class="table  table-striped " cellspacing="0" width="100%">
          <thead>
            <tr>
              <th class="th-sm" scope="col">Nazwa</th>
              <th class="th-sm" scope="col">Kategoria</th>
              <th class="hideseek1 th-sm" scope="col">Rodzaj wsparcia</th>
              <th class="hideseek3 th-sm" scope="col">Miasto</th>
              <!-- <th class="hideseek3 th-sm" scope="col">Data aktualizacji</th> -->
            </tr>
          </thead>
          <tbody>
            {% for business in businesses %}
            {% if business.check %}
            <tr>
              <td><a href="{{ business.url }}">{{business.name}}</a></td>
              <td><a href="{{ business.url }}">{{business.type}}</a></td>
              <td class="hideseek1"><a href="{{ business.url }}">{{business.form}}</a></td>
              <td class="hideseek3"><a href="{{ business.url }}">{{business.city}}</a></td>
              <!-- <td class="hideseek3"><a href="{{ business.url }}">{{business.update_date}}</a></td> -->
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}