<!DOCTYPE html>
{% extends "project_application/base.html" %}

{% load static %}
{% load filter_extra %}

{% block body_block %}
<!-- Insert here -->
<div class="full-height" style="margin: 5vh 0px;">
  <div class="container">
    <div class="row" style="margin-bottom: 10vh;">

      <div class="col-md-3">
        <h1 class="imp2-h1">Wesprzyj <br> swoje <br> ulubione <br> miejsca ...</h1>
      </div>
      <div class="col-md-6" style="text-align:center;">
        <img style="height: 79%; width: 70%; max-height: 300px; max-width: 300px; margin-top: 4vh; margin-bottom: 4vh;" src="{% static "project_application/images/project_application/kawiarenka.png" %}" alt="">
      </div>
      <div class="col-md-3">
        <h1 class="imp1-h1">... i pomóż <br> im <br> przetrwać <br> kryzys!</h1>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        {% if businesses %}
        <table id="dtBasicExample" class="table  table-striped " cellspacing="0" width="100%">
          <thead>
            <tr>
              <th class="th-sm" scope="col">Nazwa</th>
              <th class="th-sm" scope="col">Kategoria</th>
              <th class="hideseek1 th-sm" scope="col">Rodzaj wsparcia</th>
              <th class="hideseek2 th-sm" scope="col">Miasto</th>
              <th class="hideseek3 th-sm" scope="col">Data aktualizacji</th>
            </tr>
          </thead>
          <tbody>
            {% for business in businesses %}
            {% if business.check %}
            <tr>
              <td><a href="{{ business.url }}">{{business.name}}</a></td>
              <td><a href="{{ business.url }}">{{business.type}}</a></td>
              <td class="hideseek1"><a href="{{ business.url }}">{{business.form}}</a></td>
              <td class="hideseek2"><a href="{{ business.url }}">{{business.city}}</a></td>
              <td class="hideseek3"><a href="{{ business.url }}">{{business.update_date | cut }}</a></td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}