<!DOCTYPE html>
{% extends "project_application/base.html" %}
{% block body_block %}
<!-- Insert here -->
<div class="full-height">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>- Cel -</h1>
        <p>Stworzyć miejsce, w którym w czasie kryzysu można wspierać w swoje ulubione miejsca.</p>
      </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1>- O projekcie - </h1>
        <p>Lokalne firmy są teraz wrażliwe w sposób, w jaki nie są nimi większe sieci. Aby zachować różnorodność małych firm w Twojej okolicy, w miarę możliwości warto zaopatrzyć się w karty podarunkowe do przyszłych zakupów. Jeśli nie możesz, pomyśl
          o
          napisaniu świetnej recenzji Google lub Yelp.</p>
        <p><span>Kryzysowa kawa</span> to strona zaprojektowana z myślą o zapewnieniu krótkoterminowej ulgi finansowej lokalnym firmom. Mamy nadzieję, że znajdziesz tutaj swoją ulubioną i pobliską lokalną firmę, którą możesz wesprzeć, kupując kartę
          podarunkową czy "zawieszoną kawę" na ich stronie.</p>
        <p>Nie czerpiemy żadnych korzyści finansowych z tej strony, po prostu chcemy pomóc w tych trudnych czasach. Strona stworzona przez <a href="mailto:kuba.sliz@hotmail.com?subject=Kontakt">Jakuba Śliż</a>. Ilustracje przygotowane przez Marte
          Wołek. Specjalne podziękowania dla Oli Wrony oraz Leny Wojciechowicz za wsparcie projektu.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}