<!DOCTYPE html>
{% extends "project_application/base.html" %}
{% block body_block %}
<!-- Insert here -->
<h1>- Cel -</h1>
<p>Stworzyć miejsce, w którym w czasie kryzysu można wspierać w swoje ulubione miejsca.</p>
<h1>O projekcie</h1>
<p>
  Lokalne firmy są teraz wrażliwe w sposób, w jaki nie są nimi większe sieci. Aby zachować różnorodność małych firm w Twojej okolicy, w miarę możliwości warto zaopatrzyć się w karty podarunkowe do przyszłych zakupów. Jeśli nie możesz, pomyśl o
  napisaniu świetnej recenzji Google lub Yelp.

  "Zawieszona kawa" to strona zaprojektowana z myślą o zapewnieniu krótkoterminowej ulgi finansowej lokalnym firmom. Mamy nadzieję, że znajdziesz tutaj swoją ulubioną i pobliską lokalną firmę, którą możesz wesprzeć, kupując kartę podarunkową czy
  zawieszoną "kawę" na ich stronie.

  Nie czerpiemy żadnych korzyści finansowych z tej strony, po prostu chcemy pomóc w tych trudnych czasach. Strona wykonana i utrzymywana przez <a href="mailto:kuba.sliz@hotmail.com?subject=Kontakt">Jakuba Śliża</a>. Specjalne podziękowania dla .
</p>
{% endblock %}