<!DOCTYPE html>
{% load static %}
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Zawieszona kawa</title>

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>

  <link rel="stylesheet" href="{% static "project_application/css/style.css" %}?">

  <!-- Linking owl -->
  <link rel="stylesheet" href="{% static "project_application/external/assets/owl.carousel.min.css" %}?">
  <link rel="stylesheet" href="{% static "project_application/external/assets/owl.theme.default.min.css" %}?">

</head>

<body>

  <!-- Navigation starts -->
  <div class="navigation-wrap bg-light start-header start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="{% url "main" %}">
              <img src="https://lh3.googleusercontent.com/proxy/oz7gnvnXkdog60g3kiXWoiPeODODHyzXw3u-QgNys5dh2I-LNqit9OMDqelrCyO-dcuzHfokH_1NrsYGkpjMdWZq28p3sFdPcr_uT32c-sHZzVOEpMyZAfJH9qB5UJ4BJhFBS3hB5sE" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="{% url "main" %}">Strona główna</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="{% url "project_application:form" %}">Zgłoś się</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="{% url "project_application:explore" %}">Odkrywaj</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="{% url "project_application:about" %}">O projekcie</a>
                </li>
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                  <a class="nav-link" href="{% url "project_application:contact" %}">Kontakt</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- Navigation ends -->

  <!-- Ceneter section starts -->
  <div class="section full-height">
    <div>
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col-12">
              {% block body_block%}

              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="my-5 py-5"></div>
  <!-- Center section ends -->

  <!-- Bottom-Right -->
  <a href="mailto:joe@example.com?subject=Kontakt" class="link-to-portfolio"></a>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>

  <script src="{% static "project_application/scripts/script.js" %}"></script>

  <!-- Owl.js -->
  <script src="{% static "project_application/external/owl.carousel.min.js" %}"></script>


</body>

</html>