<!DOCTYPE html>
{% load static %}
<html lang="pl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Zawieszona kawa</title>

    <!-- Style -->
    <link rel="stylesheet" href="{% static "project_application/css/style.css" %}">

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <h1>Zawieszona kawa</h1>
    <div class="container-fluid">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">Główna</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            Utrzymaj z nami kontakt,
            będziemy cię informować na bieżąco z naszymi działaniami.
          </li>
        </ul>

        <div class="container">
          {% block body_block %}

          {% endblock %}
        </div>

    </div>


  </body>
</html>
