<!DOCTYPE html>
{% extends "project_application/base.html" %}

{% load crispy_forms_tags %}

{% block body_block %}
<!-- Insert here -->
<div class="container">
  <div class="jumbotron">
    <h1>Witaj!</h1>
    <h2>Pozwól swoim klientom Cię wspomóc i wypełnij formularz!</h2>
  </div>

  <form method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-6">
        {{ form.name|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.type|as_crispy_field }}
      </div>
    </div>
    <div class="row">
      <div class="col 12">
        {{ form.url|as_crispy_field }}
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        {{ form.form|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.city|as_crispy_field }}
      </div>
    </div>
    <input type="submit" class="btn btn-success" name="" value="Submit">
  </form>

</div>
{% endblock %}