<!DOCTYPE html>
{% extends "project_application/base.html" %}
{% block body_block %}
<!-- Insert here -->

{% if businesses %}
<div class="container">
</div>

<table class="table" style="margin-top: 5vw;">
  <thead>
    <tr>
      <th scope="col">Nazwa</th>
      <th scope="col">Typ</th>
      <th scope="col">Forma</th>
      <th scope="col">Miasto</th>
      <th scope="col">Data aktualizacji</th>
    </tr>
  </thead>
  <tbody>
    {% for business in businesses%}
    <tr>
      <a>
        <td>{{business.name}}</td>
      </a>
      <td>{{business.type}}</td>
      <td>{{business.form}}</td>
      <td>{{business.city}}</td>
      <td>{{business.update_date}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}