@font-face {
  font-family: 'Cyrulik-Sharp';
  src: local('Cyrulik-Sharp'),
       url('../fonts/Cyrulik-Sharp.ttf') format("truetype");
}

.brand h1 {
  font-family: "Cyrulik-Sharp";
  font-size: 62px;
}
